---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/en/Hero.astro";
import Services from "@components/en/Services.astro";
import Team from "@components/en/Team.astro";
import Testimonial from "@components/en/Testimonial.astro";
import Contact from "@components/en/Contact.astro";
import Case from "@components/en/Case.astro";
---

<Layout title="Grublo">
  <main class="space-y-20">
    <Hero />
    <Services />
    <Case />
    <Team />
    <Testimonial />
    <Contact />
  </main>
</Layout>
