---
import Container from "./Container.astro";
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row" id="projects">
    <div class="row items-center py-5 md:pr-40 md:w-5/12 md:py-10">
      <div class="text-center md:text-left space-y-3 bg-lime">
        <h2 class="text-4xl font-medium leading-none sm:text-6xl">
          Casos de éxito
        </h2>
      </div>
    </div>
    <div class="flex items-center py-5 md:w-7/12 md:py-10">
      <p class="text-xl font-normal leading-7 text-center md:text-left">
        Explore ejemplos de la vida real de nuestro éxito comprobado en
        marketing digital a través de nuestros estudios de caso.
      </p>
    </div>
  </div>

  <div
    class="w-full p-12 bg-zinc-900 rounded-[45px] justify-start items-start gap-16 inline-flex text-white"
  >
    <div
      class="grid grid-cols-1 md:grid-cols-3 gap-2 divide-x-0 md:divide-x divide-y md:divide-y-0"
    >
      <div
        class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
      >
        <div class="w-full text-lg font-normal">
          Para una empresa de transporte, desarrollamos una solución de software
          personalizada que mejoró la eficiencia del conductor y redujo los
          costos de combustible en un 20 %. y en general aumentaron los ingresos
          en un 15%.
        </div>
        <div
          class="justify-start items-center gap-[15px] inline-flex group cursor-pointer"
        >
          <a href="https://exaya.vercel.app" target="_blank">
            <div
              class="group-hover:opacity-80 text-lime text-xl font-normal leading-7"
            >
              Leer más
            </div>
          </a>
          <img
            class="group-hover:pl-1 duration-200 ease-in-out"
            src="/services/agc.svg"
            alt="arrow"
          />
        </div>
      </div>
      <div
        class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
      >
        <div class="w-full text-lg font-normal">
          Para una empresa de herramientas, creamos una solución de software
          personalizada que aumentó la productividad y la eficiencia en un 20 %,
          con tecnología de vanguardia y una interfaz totalmente personalizable.
        </div>
        <div
          class="justify-start items-center gap-[15px] inline-flex group cursor-pointer"
        >
          <a href="https://synergy-mky.vercel.app" target="_blank">
            <div
              class="group-hover:opacity-80 transition duration-200 text-lime text-xl font-normal leading-7"
            >
              Leer más
            </div>
          </a>
          <img
            class="group-hover:pl-1 duration-200 ease-in-out"
            src="/services/agc.svg"
            alt="arrow"
          />
        </div>
      </div>
      <div
        class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
      >
        <div class="w-full text-lg font-normal">
          Para una empresa de impresión 3D, desarrollamos una solución de
          software personalizada para gestionar los procesos de inventario y
          producción y más que mejoró la eficiencia y la productividad.
        </div>
        <div class="justify-start items-center gap-[15px] inline-flex group">
          <a href="https://parify.vercel.app" target="_blank">
            <div
              class="group-hover:opacity-80 transition duration-200 text-lime text-xl font-normal leading-7"
            >
              Leer más
            </div>
          </a>
          <img
            class="group-hover:pl-1 duration-200 ease-in-out"
            src="/services/agc.svg"
            alt="arrow"
          />
        </div>
      </div>
    </div>

    <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
    <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
  </div>
</Container>
