---
import Container from "./Container.astro";
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row">
    <div class="row items-center py-5 md:pr-16 md:w-4/12 md:py-10">
      <div class="text-center md:text-left space-y-3 bg-lime">
        <h2 class="text-4xl font-medium leading-none sm:text-6xl">
          Testimonios
        </h2>
      </div>
    </div>
    <div class="flex items-center py-5 md:w-8/12 md:py-10">
      <p class="text-xl font-normal leading-7 text-center md:text-left">
        Escuche a nuestros clientes satisfechos: lea nuestros testimonios para
        obtener más información sobre nuestros servicios
      </p>
    </div>
  </div>

  <div
    class="flex-row items-center my-6 lg:p-14 p-4 bg-black text-white rounded-[45px]"
  >
    <div
      class="justify-items-center relative w-full border border-lime rounded-3xl"
    >
      <div class="p-4 md:p-10">
        <p
          class="items-center justify-center text-white text-sm md:text-lg font-normal mb-4"
        >
          "Hemos estado trabajando con Grobles durante el año pasado y hemos
          visto un aumento significativo en la adopción de software y la
          satisfacción del cliente como resultado de sus esfuerzos. El equipo es
          profesional, receptivo y realmente se preocupa por el éxito de nuestro
          negocio. Recomendamos ampliamente Grobles a cualquier empresa que
          busque desarrollar soluciones de software personalizadas".
        </p>
        <span class="text-lime text-base md:text-xl font-medium"
          >Elvis Cuevas Ito<br /></span
        ><span class="text-white text-lg font-normal"
          >Gerente de Operaciones de Trabajos Mas</span
        >
      </div>
      <div class="p-4 md:p-10">
        <p
          class="items-center justify-center text-white text-sm md:text-lg font-normal mb-4"
        >
          "Estábamos luchando por encontrar un socio de desarrollo de software
          que pudiera entregar una solución de alta calidad a tiempo y dentro
          del presupuesto. Grobles superó nuestras expectativas y entregó una
          solución de software de primera clase que ha mejorado nuestras
          operaciones comerciales"
        </p>
        <span class="text-lime text-base md:text-xl font-medium"
          >Roberto Altamirano<br /></span
        ><span class="text-white text-lg font-normal"
          >Gerente General de Blue Motors</span
        >
      </div>
    </div>
  </div>
</Container>
