---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import NavbarEn from "../components/en/Navbar.astro";
import Footer from "../components/Footer.astro";
import FooterEn from "../components/en/Footer.astro";

const { currentLocale } = Astro;
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logoicon.jpg" />
    <meta name="generator" content={Astro.generator} />
    <title>Grublo - Software development agency</title>
    <meta
      name="description"
      content="Software development agency in the heart of the city, with a focus on web development and design."
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-white font-SpaceGrotesk space-y-20">
    {currentLocale === "en" ? <NavbarEn /> : <Navbar />}
    <slot />
    {currentLocale === "en" ? <FooterEn /> : <Footer />}
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
    ></script>
  </body>
</html>
